{:aliases
 {:run
  {:main-opts ["-m" "core"]}},

 :deps
 {
  org.clojure/clojure {:mvn/version "1.10.0"},
  com.cemerick/url {:mvn/version "0.1.1"}, ;; uri处理
  slingshot {:mvn/version "0.12.2"}, ;; try+ catch+
  com.taoensso/timbre {:mvn/version "4.10.0"}, ;; logging
  cheshire/cheshire {:mvn/version "5.8.1"}, ;; json处理
  clj-http {:mvn/version "3.9.1"}, ;; http client
  com.rpl/specter {:mvn/version "1.1.2"}, ;; map数据结构查询
  camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.0"}, ;; 命名转换
  seesaw {:mvn/version "1.5.0"} ;; GUI框架
  },

 ;; 把src文件夹添加到class path
 :paths ["src"]
 }
